// Variables
$color-magenta: #EF227F;
$color-twilight: #1C1B29;

$border-radius: 50%;
$dot-size: 20px;

$diameter: 800px;
$semicircle: 180;
$number-of-lines: 5;
$degree-of-rotation: $semicircle / $number-of-lines;

$animation-name: move-balls;
$animation-duration: 3s;
$animation-timing: ease-in-out; /* linear, ease-in, ease-out, ease-in-out, cubic-bezier(n,n,n,n) */
$animation-iteration: infinite;