doctype
html.no-js
head
  title cycloids
  meta(charset='utf-8')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
  link(rel='stylesheet', href='styles/main.css')
body
  h1 Use Your (SCSS) Illusion
  button#toggle-lines Toggle Lines

  - var number_of_lines = 15

  .circle
    while number_of_lines--
      .line

  script(src='../bower_components/jquery/dist/jquery.js')
  script(src='scripts/main.js')